

body {
    
    margin: 0px;
    content: "";
    background-image: url('images/PB_Back5.jpg');
    height: 50%;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    
    background-color: rgb(230,230,250, .1);

    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;


}


body > div {
    background-color: rgb(244, 244, 255);
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    position: 50%;
   
  }

.intro {
    background-color: rgba(0, 0, 0, .0);
}

.intro-title {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    background-size: contain, cover;
    margin-bottom: 0;
    font-family: Palatino, URW Palladio L, serif;
    text-align: center;

}

h1 {
    
    font-size: .75em;
    margin-top: 150px;
    margin-bottom: 0;

}

h2 {  
    
    margin: 0;
    font-size: 3.5em;

}

.links {
    margin-top: 2%;
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}


.links > div {

    margin: 10px;
    font-size: 30px;
    position: 50%;
    font-family: Palatino, URW Palladio L, serif;
    font-size: .5em;
    height: 5.75em;
    border-radius: 5px 5px;
    
    
}

.image_link {
    display: block;
    justify-content: center;
    margin-top: 5px;
    height: 50px;
    width: 100%;
    
    
    
}

.img_caption {
    
    line-height: 0px;
    height: 2.5em;
    font-size: 1em;
    opacity: 0;

}

.links > div:hover p{
    
    color: black;
    opacity: 1;
    transition: 1s;

}

.links >div:hover {
    background-color: rgba(235, 238, 252, 0.5);
    transition: 1s;
}


#profile_pic {
    height: 350px;
    width: 300px;
    border-radius: 25px 75px;
    border: 4px solid #c998f7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* position: 50%; */
    display: block;
    
}

.profpic {
    border-width: 10px;
    height: 100%;
    width: 100%;
    margin-left: 0;
    display: flex;
}

.profpic > div {

    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 5%;


}

.abm_sub {

    margin: 0px;
    font-size: 20px;
    text-align: left;
    line-height: .2;
    margin-top: 20px;
    
}
.abm_text {
    margin: 0px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 4.5%;
}

.text {

    background-color: rgb(219, 226, 250);
    border-width: thick;
    border-color: slategray;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0px;
    
}



ul {
    /* Center */
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* background-color: aliceblue; */
    /* margin-top: 6%; */
    padding: 0;
    width: 700px;
    height: 550px;
    display: block;
    

}

ul li {
    margin-top: 15%;
    list-style: none;
    position:relative;
    
    
    /* position: absolute; */
    width: 200px;
    height: 200px;
    background: black;
    transform: rotate(45deg);
    transition: .5s;
    color: white;
    font-size: 200%;
    font-weight: 100;

}

ul li.it1 {
    top: 0%;
    left: 0%;

}

ul li.it2 {
    bottom: 27%;
    left: 22.5%;  
}

ul li.it3 {
    bottom: 111%;
    left: 45%;
}
ul li.it4 {
    bottom: 138%;
    left: 67.5%;
    margin-bottom: -60%;
}

ul li.it1 .bg {
    /* background-color: #c998f7; */
    text-align: center;
    margin-left: -5%;
    transform: rotate(-45deg);
}

ul li.it2 .bg {
    position: relative;
    top: -5px;
    left: -15px;
    text-align: center;
    transform: rotate(-45deg);
}

ul li.it3 .bg {
    position: relative;
    left: -10px;
    text-align: center;
    margin-left: -5%;
    transform: rotate(-45deg);
}

ul li.it4 .bg {
    
    text-align: center;
    margin-left: -17.5%;
    transform: rotate(-45deg);

}

ul li:hover .overlay1{
    
    opacity: 1;
}

.overlay1{
    font-size: 50%;
    position: relative;
    opacity: 0;
    
    transform: 45deg;
    text-align: center;
    transition: .5 ease;
    
}

.project {
    height: 225vh;
}

.text_project_header {
    font-family: Palatino, URW Palladio L, serif;
    text-align: center;
    margin: 1em;
    font-size: 2em;

}

.text_project_title {
    padding-left: 10%;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-right: 5%
}

.text_project_text{
    
    padding-left: 15%;
    text-align: left;
    line-height: 1;
    margin-right: 10%

    
}

