@import url('https://fonts.googleapis.com/css?family=Calistoga');
.page2 {
    height: 80svh;
    background-image: linear-gradient(#6600FF, #271FB3);
    display: flex;
}

.profImage {
    flex: 1;
    margin: 0;
    transition: 3s;
    position: relative;
}

.selfImage {
    position: absolute;
    background-image: url("./profile_picture_crop.jpg");
    background-size: cover;
    width: 50%;
    height: 75%;
    background-position: center;
    margin-top: 6.25%;
    margin-left: 25%;
    border-radius: 2%;
    transition: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 1;
}

.imageBackground {
    position: absolute;
    width: 50%;
    height: 75%;
    margin-top: 6.25%;
    margin-left: 25%;
    background-image: linear-gradient(#271FB3, #6600FF);
    border-radius: 2%;
    z-index: 1;
    transform: translate(-4%, 4%);
}

.imageBackgroundAnimate {
    animation: fade-in-up .8s 0s cubic-bezier(0.5, 0, 0.1, 1), loadIn 3s;
    animation-delay: 0s, 1s;
    animation-fill-mode: forwards;
    z-index: 0;
}

@keyframes loadIn {
    from {
        transform: translate(0%, 0%);
        opacity: 0;
        z-index: 0;
    }
    to {
        transform: translate(-4%, 4%);
        opacity: 1;
    }
}

.aboutMeText {
    flex: 1;
    color: white;
    font-family: 'Calistoga';
    font-size: 3svh;
    padding-top: 6svh;
    padding-right: 10svh;
}

.secret {
    color: orange;
}

.secret:hover {
    color: rgb(255, 217, 148);
}

.techStack {
    display: flex;
    font-family: 'Calistoga';
    background-image: linear-gradient(#271FB3, #2f0075);
    padding-top: 6svh;
}

.techIntro {
    /* background-color: #271FB3; */
    text-align: center;
    color: white;
    font-size: 6svh;
    width: 50%;
    padding-bottom: 7svh;
    padding-left: 10svw;
    padding-right: 4svw;
}

.currentTech {
    font-size: 5svh;
    padding-top: 3svh;
}

.learningTech {
    font-size: 5svh;
    margin-top: 14svh;
}

.techDesc {
    margin-top: 3svh;
    font-size: 2.5svh;
}

.techIconList {
    width: 50%;
    padding: 4svh;
    padding-left: 6svh;
}

.techSubTitle {
    font-size: 2em;
}

.technology {
    margin-top: 4em;
}

.list {
    font-size: larger;
    list-style: inside;
    list-style: none;
}

li {
    display: list-item;
    font-size: 2.5em;
    background: -webkit-linear-gradient(#f6f1ff, #918bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
}

ul.a {
    /* list-style-type: disc outside none; */
    margin: 1em;
}

.border-right {
    border: 8px solid;
    border-image: linear-gradient(to bottom, #3284ff10, #6600ff, #235cb310) 0 1 0 0;
}

.fade_animation {
    animation: fade-in-up .8s 0s cubic-bezier(0.5, 0, 0.1, 1);
    animation-fill-mode: forwards;
}

.opacity_hide {
    opacity: 0;
}

@keyframes fade-in-up {
    from {
        transform: translate(0, 10svh);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}