@import url('https://fonts.googleapis.com/css?family=Calistoga');
.main_page {
    background-image: url('./public/constelation.svg');
    width: 100%;
    aspect-ratio: 4/2;
    background-position: center;
    background-size: cover;
    position: relative;
}

.title {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 100svw;
    height: 80svh;
    padding-left: 8svw;
    text-align: left;
    font-family: 'Calistoga';
    color: rgba(255, 255, 247, 1);
    line-height: normal;
}

.flex-item1 {
    flex: 1;
    width: 50em;
}

.flex-item2 {
    flex: 1;
    text-align: left;
    margin-top: -5svh;
    margin-left: -20svw;
}

.name {
    font-size: 18svh;
    margin: auto;
    width: 100%;
    padding: 10px;
    padding: 0;
    /* animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both, center-left 3s; */
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1), center-left 1s 0s cubic-bezier(.71, .34, .23, .95);
    animation-delay: 0s, 1s;
    /* transform: translateX(-50%); */
}

.greetings {
    font-size: 6svh;
    padding: 0;
    margin-top: 20svh;
    animation: text-clip-greetings 1s 0s cubic-bezier(0.5, 0, 0.1, 1), center-left-greetings 1s 0s cubic-bezier(.71, .34, .23, .95);
    animation-delay: 0s, 1s;
    min-height: 10px;
    margin-bottom: 0;
}

.test {
    font-size: 4.5svh;
    color: orange;
    width: 100%;
    animation-delay: 2s;
    min-height: 3svh;
}

.icons {
    display: flex;
    padding-top: 5svh;
}

.icons>div {
    margin-right: 3svw;
    padding: 1svh;
    position: relative;
}

.icons>div:hover {
    background-color: #0e0638;
    border-radius: 15px;
    transition: 1s;
}

.icons>div:hover .img_caption {
    transition: 2.5s;
    color: orange;
}

img {
    height: 10svh;
    width: 10svh;
}

.img_caption {
    margin-top: 3svh;
    font-size: 2svh;
    text-align: center;
    color: transparent;
}

.border {
    position: absolute;
    bottom: 0;
    border: none;
}

@keyframes text-clip {
    from {
        transform: translateX(45%);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        transform: translateX(45%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes text-clip-greetings {
    from {
        transform: translateX(75%);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        transform: translateX(75%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes center-left {
    from {
        transform: translateX(45%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes center-left-greetings {
    from {
        transform: translateX(75%);
    }
    to {
        transform: translateX(0%);
    }
}

.t {
    font-size: 5svh;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

.hidenn {
    display: none;
}

.show {
    display: auto;
}

.loadFade {
    animation: hideDiv 2s 0s, fadeInAnimation ease 3s;
    animation-delay: 0s, 1.75s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideDiv {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}