@import url('https://fonts.googleapis.com/css?family=Calistoga');
.page2 {
    height: 80svh;
    background-image: linear-gradient(#6600FF, #271FB3);
    display: flex;
}

.profImage {
    flex: 1;
    margin: 0;
    transition: 3s;
    position: relative;
}

.selfImage {
    position: absolute;
    background-image: url("src/assets/profile_picture_crop.jpg");
    background-size: cover;
    width: 50%;
    height: 75%;
    background-position: center;
    margin-top: 6.25%;
    margin-left: 25%;
    border-radius: 2%;
    transition: 1s;
}

.imageBackground {
    position: absolute;
    width: 50%;
    height: 75%;
    margin-top: 6.25%;
    margin-left: 25%;
    background-image: linear-gradient(#271FB3, #6600FF);
    border-radius: 2%;
    animation: loadIn 3s;
    animation-fill-mode: forwards;
}

@keyframes loadIn {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-4%, -4%);
    }
}

.aboutMeText {
    flex: 1;
    color: white;
    font-family: 'Calistoga';
    font-size: larger;
    padding-top: 6svh;
    padding-right: 10svh;
}

.secret {
    color: orange;
}

.secret:hover {
    color: rgb(255, 217, 148);
}

.techStack {
    font-family: 'Calistoga';
}

.techIntro {
    text-align: center;
    color: white;
    font-size: 6svh;
}

.techIconList {
    display: flex;
    background-color: aliceblue;
}