.cls-1 {
    fill: #fffae8;
    /* box-shadow: 0 0 10px  rgba(207, 59, 59, 0.5); */
    filter: drop-shadow(0px -25px 100px rgba(255, 255, 247, .5));
    transition: "1s";
}

.cls-2 {
    fill: #262b4d;
}

svg {
    height: 125svh;
    width: 125svh;
}